.card {
    --card-gradient: rgba(0, 0, 0, 0);
    --card-gradient: #87bfec, #447ab8;
    --card-blend-mode: overlay;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(var(--card-gradient), white max(9.5rem, 27vh));
    overflow: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  .card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: fill;
    max-height: 12rem;
    mix-blend-mode: var(--card-blend-mode);
  }
  .card img ~ * {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .card > :last-child {
    margin-bottom: 0;
  }
  .card:hover {
    transform: scale(1.03);
  }
  .card:hover, .card:focus-within {
    --card-gradient: #24a9d5 max(8.5rem, 20vh);
  }
  

.card h3 {
margin-top: 1rem;
font-size: 0.8rem;
}

.card p {
  font-size: 0.7rem;
  margin-top: 0;
  margin-bottom: 0;
}
.card a {
color: inherit;
}

.card-wrapper {
list-style: none;
padding: 0;
margin: 0;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
gap: 1.5rem;
}